* {
    margin: 0;
    padding: 0;
}

/*css da imagem do cabeçalho*/
nav1 ul li {
    background-image: url(/img/galaxia.gif);
    background-repeat: no-repeat;
    background-position:background-position;
    }
/*fim do css da imagem do cabeçalho*/

/*css do cabeçalho*/
nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 42px 0;
  
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    margin-left: -60%;
    margin-top: -10%;
  }
  
  nav ul li {
    display: inline-block;
  }     
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(237, 239, 245, 0.815);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    margin-left: 10%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(253, 8, 8, 0.897);
  }

/*fim do css do cabeçalho*/

.container{
    width: 300px;
    height: 600px;
    margin-top: -5%;
    margin-left: -10% ;
    padding: 15%;
    background-color: #1e125c;
    border: solid 2px rgb(39, 43, 110); 
}

.ctext{
    margin-top: -25%;
    margin-left: -20%;
    margin-right: -30%;
    
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: sans-serif;
    color: #d6cbe0;
    margin-left: 0%;
}

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #d6cbe0;
    margin-left: 0%;
} 

#check{
    display: inline-block;
}

/* Elementos de tag <fieldset>*/
fieldset {
    border: 0;
}

/* Elemento de tag <body> */
body{
   background-color: #090a0c;
   /*background-image: url(/img/galaxia.gif);*/
   background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 1em;
    color: #d6cbe0;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}


/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}
.campo1{
    margin-bottom: -5em;
}
/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: #d6cbe0;
    display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #a19ab8;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e4f1e1;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #76a4cf;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao{
    margin-top: 31%;
    margin-left: 0%;
    cursor: pointer;
}

.select{
    margin-top: 2%;
}

.footer{
    margin-top: 10%;
    margin-left: 5%;
}
  
