* {
    margin: 0;
    padding: 0;
  
}

/*css da imagem do cabeçalho*/
nav1 ul li {
    background-image: url(/img/galaxia.gif);
    background-repeat: no-repeat;
    background-position:background-position;
    }
/*fim do css da imagem do cabeçalho*/

/*css do cabeçalho*/

.div{
    margin-top: -15px;
    margin-left: 30%;

}

nav {
    max-width:820px;
    color: blueviolet;
    /*mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);*/
    margin: 0 119px 1px ;
    padding:   40px 0;
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 0px rgba(255, 255, 255, 0.6);
    margin-left: -60%;
    margin-top: -10%;
  }
  
  nav ul li {
    display: inline-block;
  }     
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(212, 220, 243, 0.815);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    margin-left: 10%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(253, 8, 8, 0.897);
  }

/*fim do css do cabeçalho*/

body{
    background-color: black;
}

/* css do album*/

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  color: aqua;
  margin-left: 8%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}





.desc{
font-family: cursive;
margin-left: 0%;
margin-right: 0%;
padding: 15px;
text-align:center;


}

.footer{
  margin-top: 43%;
  margin-left: 44%;
  color: aqua;
}
/* Fim do css do album*/